.header__wrapper {
   background: var(--black);
   color: white;
}

.header__container {
   justify-content: space-between;
   padding: 1rem 0;
   color: var(--secondary);
}

.header__menu {
   gap: 2rem;
}

.header__menu>*:hover{
   cursor: pointer;
}